html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  border-width: 3px;
  border-radius: 8px;
  padding: .4em .75em .3em;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: normal;
}

.btn-small {
  font-size: .875rem;
}
